{% extends "scheduleapp/layout/base.html" %}

{% block title %} Page 404 {% endblock %}


{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <div clss="container" dir="rtl">
        <div class="pt-4 px-4">
            <div class="h-100 bg-secondary rounded  mx-0 account">
                <div class="row mx-4 ">
                    <h6 class="my-4">ایجاد تسک جدید</h6>
                </div>
                <form action="{% url 'scheduleapp:report_submit' %}" method="post" id="newtask_form">
                    {% csrf_token %}
                    <div class="row mx-4">
                        <div class="col-md-3">
                            <label for="executer" class="form-label">مجری</label>
                            <select class="form-select mb-3" id="executer" name="executer"
                                    aria-label="Default select example" required>
                                <option selected value="0">مجری فعالیت را انتخاب نمایید</option>

                            </select>
                        </div>

                        <div class="col-md-3">
                            <label for="priority" class="form-label">الویت</label>
                            <select class="form-select mb-3" id="priority" name="priority"
                                    aria-label="Default select example" required>

                                <option value="1">عادی</option>
                                <option value="2">مهم</option>
                                <option value="3">فوری</option>
                            </select>
                        </div>


                    </div>

                    <div class="row mx-4">
                        <div class="col-md-3">
                            <label for="from_date" class="form-label">از تاریخ</label>
                            <input type="text" id="from_date" name="from_date" class="form-control" data-jdp=""
                                   placeholder="لطفا یک تاریخ وارد نمایید" data-jdp-only-date="" >
                        </div>

                        <div class="col-md-3">
                            <label for="to_date" class="form-label">تا تاریخ</label>
                            <input type="text" id="to_date" name="to_date" class="form-control" data-jdp=""
                                   placeholder="لطفا یک تاریخ وارد نمایید" data-jdp-only-date="">
                        </div>

                    </div>

                    <div class="row mx-4 my-2">

                        <div class="col-md-3">
                            <label for="status" class="form-label">وضعیت فعالیت</label>
                            <select class="form-select mb-3" id="status" name="status"
                                    aria-label="Default select example">
                                <option value="1" selected>جاری</option>
                                <option value="2">خانمه</option>
                                <option value="3">منقضی شده</option>
                                <option value="3">تمدید شده</option>

                            </select>
                        </div>
                     <div class="col-md-3">
                          <label for="subject" class="form-label">عنوان فعالیت</label>
                            <select class="form-select mb-3" id="subject" name="subject"
                                    aria-label="Default select example">
                                <option value="0" selected>موضوع فعالیت را انتخاب نمایید.</option>
                            </select>
                     </div>

                    </div>

{#                    <div class="row mx-4">#}
{#                        <div class="col-md-8">#}
{#                            <label for="activity_desc" class="form-label">شرح فعالیت</label>#}
{#                            <textarea class="form-control" placeholder="شرح فعالیت را وارد نمایید"#}
{#                                      id="activity_desc" name="activity_desc" style="height: 150px;"></textarea>#}
{#                        </div>#}
{#                    </div>#}
                    <div>
                        <button type="submit" class="btn btn-primary my-4 mx-5">نمایش</button>
                    </div>

                </form>

            </div>
        </div>


    </div>


{% endblock content %}


{% block javascripts %}

    <script>
        jalaliDatepicker.startWatch({
            minDate: "attr",
            maxDate: "attr",
            time: true
        });
    </script>

    <script type="text/javascript" src="/static/js/report.js?v1.3"></script>

{% endblock javascripts %}