<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">


            <div class="mb-3 row " dir="rtl">

                <div class="col-sm-2 col-md-2 col-md-4 col-sm-6">
                    <a href="{% url 'scheduleapp:printexcel' id=id %}"><button type="button" class="btn btn-primary mb-3 account ">خروجی اکسل</button></a>

{#                    <a href="{% url 'scheduleapp:printpdf' id=id %}"><button type="button"  class="btn btn-primary mb-3 account ">خروجی PDF</button></a>#}
                </div>

            </div>


        </form>
    </div>
</div>
