{#<div class="container-fluid position-relative d-flex p-0">#}
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->


<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3 " dir="rtl">
    <nav class="navbar bg-secondary navbar-dark account">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <!--                        <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>-->
            <img src="/static/img/download.png" alt="alvand_logo">
        </a>
        {#        <div class="d-flex align-items-center ms-4 mb-4">#}
        {#            <div class="position-relative">#}
        {#                <img class="rounded-circle" src="/static/img/user.jpg" alt="" style="width: 40px; height: 40px;">#}
        {#                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>#}
        {#            </div>#}
        {#            <div class="ms-3">#}
        {#                <h6 class="mb-0">Jhon Doe</h6>#}
        {#                <span>Admin</span>#}
        {#            </div>#}
        {#        </div>#}
        <div class="navbar-nav w-100 ">
            {% if request.session.master_permission == True %}
                <a href="{% url 'scheduleapp:dashboard' %}"
                   class="nav-item nav-link {% if 'dashboard' in segment %} active {% endif %}"><i
                        class="fa fa-tachometer-alt me-2"></i><span
                        class="kazem-margin-dashboard">داشبورد</span></a>

                <a href="{% url 'scheduleapp:newtask' %}"
                   class="nav-link  {% if 'newtask' in segment %} active {% endif %}"><i
                        class="fa fa-laptop me-2"></i><span
                        class="kazem-margin-dashboard">ایجادتسک جدید</span></a>

                <a href="{% url 'scheduleapp:currenttask' %}"
                   class="nav-item nav-link {% if 'currenttask' in segment %} active {% endif %}"><i
                        class="fa fa-th me-2"></i><span
                        class="kazem-margin-dashboard">تسک های جاری</span></a>
                <a href="{% url 'scheduleapp:alltask' %}"
                   class="nav-item nav-link {% if 'alltask' in segment %} active {% endif %}"><i
                        class="fa fa-keyboard me-2"></i><span
                        class="kazem-margin-dashboard">تمامی تسک ها</span></a>
                <a href="{% url 'scheduleapp:calender' %}"
                   class="nav-item nav-link {% if 'calender' in segment %} active {% endif %}"><i
                        class="fa fa-table me-2"></i><span
                        class="kazem-margin-dashboard">تقویم کاری</span></a>
                <a href="{% url 'scheduleapp:report' %}"
                   class="nav-item nav-link {% if 'report' in segment %} active {% endif %}"><i
                        class="fa fa-chart-bar me-2"></i><span
                        class="kazem-margin-dashboard">گزارش</span></a>
                <a href="{% url 'scheduleapp:notifications' %}"
                   class="nav-item nav-link {% if 'notifications' in segment %} active {% endif %}"><i
                        class="fa fa-chart-bar me-2"></i><span
                        class="kazem-margin-dashboard">اعلان ها</span></a>
{#                <a href="{% url 'scheduleapp:desktop' %}"#}
{#                   class="nav-item nav-link {% if 'desktop' in segment %} active {% endif %}"><i#}
{#                        class="fa fa-chart-bar me-2"></i><span#}
{#                        class="kazem-margin-dashboard">میزکار</span></a>#}

                <a href="{% url 'scheduleapp:settings' %}"
                   class="nav-link {% if 'settings' in segment %} active {% endif %}"><i
                        class="far fa-file-alt me-2"></i><span
                        class="kazem-margin-dashboard">تنظیمات</span></a>


        {% elif request.session.employee_permission == True %}
                <a href="{% url 'scheduleapp:employeealltask' %}"
                   class="nav-item nav-link {% if 'alltaskemployee' in segment %} active {% endif %}"><i
                        class="fa fa-keyboard me-2"></i><span
                        class="kazem-margin-dashboard">تمامی تسک ها</span></a>
                <a href="{% url 'scheduleapp:desktop' %}"
                   class="nav-item nav-link {% if 'desktop' in segment %} active {% endif %}"><i
                        class="fa fa-chart-bar me-2"></i><span
                        class="kazem-margin-dashboard">میزکار</span></a>
        {% endif %}
        </div>
    </nav>
</div>
<!-- Sidebar End -->


<!-- Content Start -->
{#    <div class="content">#}

{#        {% include 'scheduleapp/includes/chart.html' %}#}

{#    </div>#}
<!-- Content End -->


<!-- Back to Top -->
{#    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>#}
{#</div>#}